.att-wrapper {
  /* background: blueviolet; */
  display: flex;
  flex-direction: column;
  position: relative;
  height: 1rem;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}
.att-fullbar {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  width: 100%;
  height: 0.9rem;
}
.att-colorbar {
  background: white;
  border-radius: 2rem;
  width: 77%;
  height: 1rem;
  position: absolute;
  transition: 2000ms ease-in;
}
.att-circle {
  height: 3rem;
  width: 3rem;
  background: var(--blueColor);
  border-radius: 3rem;
  position: absolute;
  text-align: center;
  display: flex;
  font-weight: 600;
  flex-direction: column;
  justify-content: center;
  color: white;
  pointer-events: none;
}
