.h-main {
  display: flex;
}
.h-left {
  flex: 1;
  padding-left: 2rem;
  height: 100vh;
  position: relative;
}
.h-l-image {
  background: url("../../images/pokemon.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  height: 5rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
}
.h-l-text1 {
  font-size: 2.6rem;
  font-weight: bold;
}
.h-l-text2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.h-l-search-box {
  background: white;
  width: fit-content;
  padding: 0.25rem;
  border-radius: 2rem;
  box-shadow: -6px 7px 20px 0.5px rgba(0, 0, 0, 0.2);
  /* margin-bottom: 1rem; */
  display: flex;
}
.h-l-search-box > :nth-child(1) {
  border: none;
  padding: 0.8rem;
  width: 20rem;
  border-radius: 2rem;
  font-weight: 600;
  padding-left: 1.5rem;
}
#h-l-input:focus {
  outline: none;
}
.h-l-search-box > :nth-child(2) {
  background: url("../../images/searchO.png");
  background-size: contain;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  cursor: pointer;
}
.h-l-suggestion {
  /* background: white;s */
  width: 23rem;
  box-shadow: -2px 4px 15px 0.1px rgba(0, 0, 0, 0.2);
  margin-left: 1rem;
  /* margin-bottom: 5rem; */
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  align-items: center;
  transition: 2000ms ease-in;
  /* display: none; */
}
.h-l-suggestion:empty {
  display: none;
}
.h-l-s-item {
  /* background: rebeccapurple; */
  padding: 0.2rem 0;
  padding-left: 1rem;
  width: 90%;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}
.h-l-s-item:hover {
  background: var(--blueColor);
  color: white;
  width: 90%;
  font-weight: bold;
}
.h-l-gamestart {
  background: black;
  color: white;
  width: 35%;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 0;
  border-radius: 2rem;
  position: absolute;
  bottom: 5rem;
  cursor: pointer;
}
.h-right {
  flex: 1.5;
  background: var(--yellowColor);
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}

.h-r-name {
  /* background: red; */
  margin-top: 1rem;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 2.5rem;
}
.h-r-name > :nth-child(1) {
  background-color: var(--blueColor);
  height: 2.8rem;
  width: 0.5rem;
  color: var(--blueColor);
  margin-right: 1rem;
}
.h-r-name > :nth-child(2) {
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}
.h-r-image {
  width: 71%;
  height: 60%;
  /* background: rgba(12, 12, 12, 0.199); */
  background-size: contain;
  position: absolute;
  top: 8rem;
  right: -26rem;
  z-index: 1;
}
.h-r-stats {
  margin-top: 6rem;
  /* padding-top: 3rem; */
  margin-left: 26rem;
  /* height: 55%; */
  width: 53%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  /* background: red; */
}
.h-r-statbox {
  margin-left: 4rem;
  /* background: green; */
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.h-r-statbox > :nth-child(1) {
  margin-left: 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.222);
}
.h-r-description {
  /* background: red; */
  width: 80%;

  margin: 0 6rem;
  margin-top: 6rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.222);
}

@media only screen and (max-width: 600px) {
  .h-main {
    display: flex;
    flex-direction: column;
  }
  .h-left {
    height: 500px;
    flex: 1;
    padding-left: 1rem;
  }
  .h-l-text2 {
    margin-bottom: 1.5rem;
  }
  .h-l-image {
    margin-bottom: 1rem;
  }

  .h-l-search-box > :nth-child(1) {
    width: 45vw;
  }
  .h-l-suggestion {
    /* background: rebeccapurple; */
    width: 53vw;
  }
  .h-r-image {
    left: 0%;
    width: 410px;
    height: 400px;
    position: static;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .h-l-gamestart {
    position: fixed;
    right: 9%;
    bottom: 91%;
    font-size: 0.9rem;
  }
  .h-right {
    flex: 1;
    background: var(--yellowColor);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .h-r-name {
    margin-top: 0;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
  }
  .h-r-name > :nth-child(1) {
    height: 2rem;
  }
  .h-r-name > :nth-child(2) {
    font-size: 2.5rem;
  }
  .h-r-stats {
    margin: 0 auto;
    margin-top: 0;
    width: 80%;
  }
  .h-r-statbox {
    width: 80%;
    margin: 0 auto;
  }
  .h-r-description {
    width: 80%;
    margin: 1rem auto;
    margin-top: 3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.222);
  }
}

@media only screen and (max-width: 400px) {
  .h-r-image {
    left: 0%;
    width: 250px;
    height: 250px;
    position: static;
    margin: 0 auto;
    margin-top: 1rem;
  }
}
