.h-main {
  display: flex;
}
.h-left {
  flex: 1;
  /* background: rgba(0, 0, 0, 0.162); */
  padding-left: 2rem;
  height: 100vh;
}
.h-l-image {
  background: url("../../images/pokemon.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  height: 5rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
}
.h-l-text1 {
  font-size: 2.6rem;
  font-weight: bold;
}
.h-l-text2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.h-l-search-box {
  background: white;
  width: fit-content;
  padding: 0.25rem;
  border-radius: 2rem;
  box-shadow: -6px 7px 20px 0.5px rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;
  display: flex;
}
.h-l-search-box > :nth-child(1) {
  border: none;
  padding: 0.8rem;
  width: 20rem;
  border-radius: 2rem;
  font-weight: 600;
  padding-left: 1.5rem;
}
.h-l-search-box > :nth-child(2) {
  background: url("../../images/searchO.png");
  background-size: contain;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  cursor: pointer;
}
.h-l-gamestart {
  background: black;
  color: white;
  width: 40%;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 0;
  border-radius: 2rem;
}
.h-right {
  flex: 1.5;
  background: var(--yellowColor);
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
  /* position: relative; */
}

.h-r-name {
  /* background: red; */
  margin-top: 1rem;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 2.5rem;
}
.h-r-name > :nth-child(1) {
  background-color: var(--blueColor);
  height: 2.8rem;
  width: 0.5rem;
  color: var(--blueColor);
  margin-right: 1rem;
}
.h-r-name > :nth-child(2) {
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}
.h-r-image {
  width: 30%;
  height: 60%;

  /* background: rgba(12, 12, 12, 0.199); */
  /* background: url("../../images/charizard-nobg.png"); */
  background-size: contain;
  position: absolute;
  top: 8rem;
  right: 30rem;
  z-index: 1;
}
.h-r-stats {
  margin-top: 6rem;
  /* padding-top: 3rem; */
  margin-left: 26rem;
  /* height: 55%; */
  width: 53%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  /* background: red; */
}
.h-r-statbox {
  margin-left: 4rem;
  /* background: green; */
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.h-r-statbox > :nth-child(1) {
  margin-left: 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.222);
}
.h-r-description {
  /* background: red; */
  width: 80%;

  margin: 0 6rem;
  margin-top: 6rem;
  /* font-size: 1.1rem; */
  font-weight: bold;
  color: rgba(0, 0, 0, 0.222);
}
